@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --first: #fff;
    --second: #D10000;
    --third: #AF0505;
    --font-family: 'Quicksand', sans-serif;
}

body{
    min-height: 100vh;
    font-family: var(--font-family);
}
